html, * {
  box-sizing: border-box;
}
  
body {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* _____________________ */
/* INTRO PAGE */

#intro-text {
  display: block;
  height: 10vh;
  width: 100vw;
  padding: 3vh;
  text-align: center;
  font-size: 3vh;
  color: #ffffff;
  background-color: #ff4713;
}

#score-choice, #battle-choice {
  display: inline-flex;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  padding: 20vh 5vw;
  font-size: 2vh;
  text-align: center;
}

#score-choice {
  color: #ff4713;
}

#battle-choice {
  color: #1226aa;
}

span {
  font-size: 10vh;
}

/* _____________________ */
/* HEADER PART */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100vw;
  font-size: 3vh;
  background-color: #1226aa;
  color: #ffffff;
}

h1 {
  font-size: 5vh;
}

nav {
  display: none;
  height: 14vh;
  width: 100vw;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: #ff4713;
}

button {
  border: none;
  background: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 3vh;
  color: #ffffff;
}

#message {
  margin: none;
  font-size: 3vh;
}

p {
  font-style: italic;
  text-align: center;
  font-size: 2vh;
}

/* _____________________ */
/* GAME PART */

main {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 80vh;
}

section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#name-btn {
  background-color: #1226aa;
  color: #ffffff;
  border: none;
}

#input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid white;
  color: #ffffff;
  font-style: italic;
  background-color: #1226aa;
}

.card.size {
  font-size: 6vh;
  height: 25vh;
  width: 14vw;
}

h2 {
  font-size: 2vh;
}

.score {
  width: 5vmin;
  padding: 4px;
  border-bottom: 1px solid white;
  text-align: center;
  color: #ffffff;
  font-size: 2vh;
}

.score-game {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

#info {
  display: flex;
  height: 25vh;
  justify-content: center;
  align-content: center;
  color: #ffffff;
}

#info > #player-info, #info > #computer-info {
  display: flex;
  height: 25vh;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#battlefield {
  display: flex;
  height: 55vh;
  justify-content: space-around;
  align-items: space-around;
  align-content: center;
}

#battlefield > #player-field, #battlefield > #computer-field {
  display: flex;
  width: 50%;
  height: 55vh;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
}

#info > #player-info {
  background-color: #1226aa;
}

#info > #computer-info {
  background-color: #ff4713;
}

@media only screen and (max-width: 1024px) {

  span {
    font-size: 7vh;
  }

  .card.size {
    height: 20vh;
    width: 18vw;    
  }
}

@media only screen and (max-width: 768px) {

  /* _____________________ */
  /* INTRO PAGE */

  #intro-text {
    display: block;
    height: 10vh;
    width: 100vw;
    padding: 3vh;
    text-align: center;
  }
  
  #score-choice, #battle-choice {
    display: inline-flex;
    flex-direction: column;
    height: 75vh;
    width: 50vw;
    padding: 20vh 5vw;
    font-size: 2vh;
    text-align: center;
  }

  span {
    font-size: 5vh;
  }

  /* _____________________ */
  /* HEADER PART */

  header {
    height: 19vh;
    padding: 0;
    margin-top: 1vh;
  }

  h1 {
    font-size: 5vh;
    margin: 0;
  }

  nav {
    height: 13vh;
  }

  #message, button {
    font-size: 2vh;
  }

  /* _____________________ */
  /* GAME PART */

  main {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 80vh;
  }

  .card.size {
    height: 18vh;
    width: 24vw;    
  }

  .score {
    padding: 0;
  }

  #info, #info > #player-info, #info > #computer-info {
    height: 30vh;
  }

  #battlefield{
    height: 50vh;
  }
  
  #battlefield > #computer-field {
    flex-direction: column;
  }
  
  #battlefield > #player-field {
    flex-direction: column-reverse;
  }
  
  #battlefield > #player-field, #battlefield > #computer-field {
    height: 50vh;
    padding: 2%;
  }
}