html, * {
  box-sizing: border-box;
}
  
body {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* _______________________________________ */
/* INTRO PAGE */

#intro-text {
  display: block;
  height: 10vh;
  width: 100vw;
  padding: 3vh;
  text-align: center;
  font-size: 3vh;
}

#score-choice, #battle-choice {
  display: inline-flex;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  padding: 20vh 5vw;
  font-size: 2vh;
  text-align: center;
}

#score-choice {
  border-right: 1px dashed black
}

#battle-choice {
  border-left: 1px dashed black
}

span {
  font-size: 10vh;
}
/* _______________________________________ */


header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  height: 19vh;
  width: 100vw;
  font-size: 3vh;
  margin-top: 1vh;
}

main {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 80vh;
}

button {
  border: none;
  background: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 3vh;
}

h1 {
  font-size: 5vh;
}

nav {
  display: none;
  height: 14vh;
  width: 90vw;
  justify-content: space-between;
}

#reset {
  color: #ff4713;
}

#home {
  color: #1226aa;
}

#nameBtn1 {
  background-color: #1226aa;
  color: #ffffff;
  border: none;
}

#input1 {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid white;
  color: #ffffff;
  font-style: italic;
  background-color: #1226aa;
}

section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.card.size {
  font-size: 6vh;
  height: 25vh;
  width: 14vw;
}

#message {
  margin: none;
  text-align: center;
  font-size: 3vh;
}

.score {
  width: 5vmin;
  padding: 4px;
  border-bottom: 1px solid white;
  text-align: center;
  color: #ffffff;
  font-size: 2vh;
}

h2 {
  font-size: 2vh;
}

p {
  font-style: italic;
  text-align: center;
  font-size: 2vh;
}

.scoreGame {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

#info {
  display: flex;
  height: 25vh;
  justify-content: center;
  align-content: center;
  border-top: 1vh solid white;
  color: #ffffff;
}

#info > #player1, #info > #player2 {
  display: flex;
  height: 25vh;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#battlefield{
  display: flex;
  height: 55vh;
  justify-content: space-around;
  align-items: space-around;
  align-content: center;
  border-bottom: 1vh solid white;
}

#battlefield > #player1, #battlefield > #player2 {
  display: flex;
  width: 50%;
  height: 55vh;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
}

#info > #player1, #battlefield > #player1 {
  border-right: 0.5vw solid white;
  background-color: #1226aa;
}

#info > #player2, #battlefield > #player2 {
  border-left: 0.5vw solid white;
  background-color: #ff4713;
}


@media only screen and (max-width: 1024px) {

  span {
    font-size: 7vh;
  }
  .card.size {
    height: 20vh;
    width: 18vw;    
  }
}


@media only screen and (max-width: 768px) {

  /* _______________________________________ */
  /* INTRO PAGE */
  #intro-text {
    display: block;
    height: 10vh;
    width: 100vw;
    padding: 3vh;
    text-align: center;
  }
  
  #score-choice, #battle-choice {
    display: inline-flex;
    flex-direction: column;
    height: 75vh;
    width: 50vw;
    padding: 20vh 5vw;
    font-size: 2vh;
    text-align: center;
  }
  
  #score-choice {
    border-right: 1px dashed black;
  }
  
  #battle-choice {
    border-left: 1px dashed black;
  }

  span {
    font-size: 5vh;
  }
  /* _______________________________________ */
  
  header {
    height: 19vh;
    padding: 0;
    font-size: 10px;
    margin-top: 1vh;
  }

  h1 {
    font-size: 5vh;
    margin: 0;
  }

  nav {
    height: 15vh;
  }

  main {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 80vh;
  }

  .card.size {
    height: 18vh;
    width: 24vw;    
      }

  .score {
    padding: 0;
  }

  #info, #info > #player1, #info > #player2  {
    height: 30vh;
  }

  #battlefield{
    height: 50vh;
  }
  
  #battlefield > #player2 {
    flex-direction: column;
  }
  
  #battlefield > #player1 {
    flex-direction: column-reverse;
  }
  
  #battlefield > #player1, #battlefield > #player2 {
    height: 50vh;
    padding: 2%;
  }
}
  