html, * {
  box-sizing: border-box;
}

body {
  font-family: 'Wendy One', sans-serif;
  height: 100vh;
  margin: 0;

}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100vw;
  font-size: 25px;
}

button {
  font-family: 'Wendy One', sans-serif;
  border: none;
  background: none;
  font-size: 15px;
}

h1 {
  margin: 5px 0;
}

nav {
  width: 94vw;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 85vh;
}

#nameBtn1, #nameBtn2 {
  background-color: #ffffff;
  border: none;
}

#input1, #input2 {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1 solid #c3c3c3;
}

section {
  height: 85vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#player2 {
  flex-direction: column-reverse;
}
.card.size {
  font-size: 35px;
}


#message {
  text-align: center;
}

.score {
  width: 5vmin;
  padding: 4px;
  border-bottom: 1px solid #c3c3c3;
  text-align: center;
}

p {
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

.scoreGame {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

#battlefield{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

@media only screen and (max-width: 768px) {

  header {
    height: 10vh;
    padding: 0;
    font-size: 10px;
  }

  main {
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
  }

  main > section {
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 95vw;
    justify-content: space-around;
    align-content: center;
  }

  .card.size {
    font-size: 25px;
  }

  .score {
    padding: 0;
  }

  #player2 {
    flex-direction: row-reverse;
  }

  #battlefield {
    justify-content: space-between;
  }
}
